.img1 {
  content: url("https://picsum.photos/id/237/200/300");
}

.img2 {
  content: url("https://picsum.photos/seed/picsum/200/300");
}

.img3 {
  content: url("https://picsum.photos/200/300?grayscale");
}

.img4 {
  content: url("https://picsum.photos/200/300/");
}

.img5 {
  content: url("https://picsum.photos/200/300.jpg");
}

img {
  margin: 10px;
  border: 5px solid #555;
  width: 10%;
  cursor: pointer;
  transition: 0.3s;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
  font-size: 18px;
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
